<div class="container">
    <h2>Crear cuenta</h2>
    <form>
        <div class="form-group">
            <label for="name">Nombre de la persona:</label>
            <input id="name" type="text" placeholder="Ingrese el nombre" #name> 
        </div>
        <div class="form-group">
            <label for="account">Valor inicial de la cuenta:</label>
            <input id="account" type="text" placeholder="Ingrese el valor" #value> 
        </div>
        <div class="form-group">
            <button type="button" class="btn-success" (click)="createAccount(name.value, value.value)">Crear cuenta</button>
        </div>
        
    </form>
</div>
<div class="container">
    <h2>Consignar a cuenta</h2>
    <form>
        <div class="form-group">
            <label for="number">Número de la cuenta:</label>
            <input id="number" type="text" placeholder="Ingrese el número" #account2> 
        </div>
        <div class="form-group">
            <label for="value">Valor a consignar:</label>
            <input id="value" type="text" placeholder="Ingrese el valor" #value2> 
        </div>
        <div class="form-group">
            <button type="button" class="btn-primary" (click) = "consign(account2.value, value2.value)">Consignar cuenta</button>
        </div>
    </form>
</div>
<div class="container">
    <h2>Retirar dinero</h2>
    <form>
        <div class="form-group">
            <label for="number">Número de la cuenta:</label>
            <input id="number" type="text" placeholder="Ingrese el número" #account3> 
        </div>
        <div class="form-group">
            <label for="value">Valor a retirar:</label>
            <input id="value" type="text" placeholder="Ingrese el valor" #value3> 
        </div>
        <div class="form-group">
            <button type="button" class="btn-danger" (click) = "retire(account3.value, value3.value)">Retirar dinero</button>
        </div>
    </form>
</div>
<div class="container">
    <h2>Consultar saldo</h2>
    <form>
        <div class="form-group">
            <label for="number">Número de la cuenta:</label>
            <input id="number" type="text" placeholder="Ingrese el número" #account4> 
        </div>
        <div class="form-group">
            <button type="button" class="btn-primary" (click)="getAccount(account4.value)">Consultar</button>
        </div>
    </form>
</div>

